# Lab 11: Summing up

Welcome to the eleventh lab of the course. This lab make a summary of the exercises from previous labs.

## Part 1

In [ ]:
# Use a for loop to create a list 'myList' of 10 numbers, from 1 to 10
...
# Expected result: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Iterate over myList to sum all elements, then print the sum
...
# Expected result: 55

In [ ]:
# Use a while loop to iterate over myList and create a new 'myList2' with the same numbers elevated to the power of 2
...
# Expected result: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Use list comprehension to create a new 'myList3' with the square values of myList
...
# Expected result: [1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795]

In [ ]:
# Use list comprehension to create a new 'myList4' with the square values of myList (as above), but keep only squared values that are greater than or equals to 2
...
# Expected result: [2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795]

In [ ]:
# Use list comprehension to create a new 'myList5' by iterating over myList3 and creating tuples in the form (a,b,c) 
# where a is the original number, b is its reduction to int (removing the decimals), and c is a string with b stars;
# for instance, 2.23606797749979 should produce (2.23606797749979, 2, "**")
...
# Expected result: 
# [(1.0, 1, '*'), (1.4142135623730951, 1, '*'), (1.7320508075688772, 1, '*'), (2.0, 2, '**'), (2.23606797749979, 2, '**'), 
#  (2.449489742783178, 2, '**'), (2.6457513110645907, 2, '**'), (2.8284271247461903, 2, '**'), (3.0, 3, '***'), (3.1622776601683795, 3, '***')]

In [ ]:
# Create a function listToSet that takes in input a list in the form of myList5 
# and translates it into a set containing the distinct values of the 'b' elements of each (a,b,c) tuple
# Then, call the function on myList5 and put the results in a set called 'mySet'
...
# Expected result: {1, 2, 3}

In [ ]:
# Create a function listToSet2 that behaves like listToSet, but it also takes in input an optional lambda function 
# The lambda function takes in input an item in the form (a,b,c) and decides what should be returned;
# if the function is not specified, it should do like above
...

In [ ]:
# Test the function listToSet2 on myList5:
# - with no lambda function in input
# - with a lambda function that returns the third element of the (a,b,c) tuple
# - with a lambda function that returns the first element of the (a,b,c) elevated to the power of 2
...
# Expected results: 
# {1, 2, 3}
# {'**', '***', '*'}
# {1.0, 2.0000000000000004, 2.9999999999999996, 4.0, 5.000000000000001, 5.999999999999999, 7.000000000000001, 8.000000000000002, 9.0, 10.000000000000002}

In [ ]:
# Create a function listToDict that iterates over a list and creates a dictionary of key-value pairs,
# where keys are the distinct elements of the list and values are the number of times that each key appears in the list
...

In [ ]:
# Test the listToDict function on:
# - a list ["a","b","b","c","c","c","a","d"]
# - a list created with list comprehension from myList5 considers only the b elements of the (a,b,c) tuples
...
# Expected results: 
# {'a': 2, 'b': 2, 'c': 3, 'd': 1}
# {1: 3, 2: 5, 3: 2}

In [ ]:
# Use dictionary comprehension on the last dictionary obtained above to
# - invert keys and values
# - multiply values by their keys
...
# Expected results: 
# {3: 1, 5: 2, 2: 3}
# {1: 3, 2: 10, 3: 6}

## Part 2

In [ ]:
grades = [
 (42, 'Alice', 'Programming and computer architectures', 18, False),
 (42, 'Alice', 'Database systems', 18, False),
 (1, 'Bob', 'Fundamentals of accounting', 23, False),
 (1, 'Bob', 'Fundamentals of management and organization', 30, False),
 (2, 'Chuck', 'Fundamentals of finance and banking', 28, False),
 (5, 'Dan', 'Fundamentals of accounting', 24, False),
 (5, 'Dan', 'Operating systems, networks and web', 23, False),
 (4, 'Eve', 'Fundamentals of management and organization', 24, False),
 (4, 'Eve', 'Fundamentals of accounting', 30, True),
 (99, 'Frank', 'Fundamentals of finance and banking', 23, False),
 (1, 'Bob', 'Programming and computer architectures', 30, True),
 (5, 'Dan', 'Database systems', 25, False),
 (99, 'Frank', 'Fundamentals of management and organization', 26, False),
 (99, 'Frank', 'Programming and computer architectures', 25, False),
 (99, 'Frank', 'Database systems', 27, False),
 (2, 'Chuck', 'Operating systems, networks and web', 26, False),
 (4, 'Eve', 'Operating systems, networks and web', 30, True),
 (42, 'Alice', 'Fundamentals of finance and banking', 29, False),
 (2, 'Chuck', 'Fundamentals of management and organization', 30, True),
 (99, 'Frank', 'Operating systems, networks and web', 22, False),
 (2, 'Chuck', 'Database systems', 30, False),
 (5, 'Dan', 'Fundamentals of finance and banking', 30, False),
 (2, 'Chuck', 'Fundamentals of accounting', 28, False),
 (1, 'Bob', 'Operating systems, networks and web', 24, False),
 (1, 'Bob', 'Database systems', 24, False),
 (5, 'Dan', 'Fundamentals of management and organization', 19, False),
 (5, 'Dan', 'Programming and computer architectures', 30, False),
 (2, 'Chuck', 'Programming and computer architectures', 23, False),
 (99, 'Frank', 'Fundamentals of accounting', 18, False),
 (1, 'Bob', 'Fundamentals of finance and banking', 22, False),
 (4, 'Eve', 'Programming and computer architectures', 24, False),
 (4, 'Eve', 'Fundamentals of finance and banking', 20, False),
 (42, 'Alice', 'Fundamentals of accounting', 30, False),
 (42, 'Alice', 'Operating systems, networks and web', 18, False)
]

In [ ]:
# Create a function 'averages' that returns a dictionary with the average grade for every student
# To do this, you can either:
# - use two intermediate dictionaries (one to sum the votes for each student, in the form k:sum; the other to count them, in the form k:sum); then, create the final dictionary in the form k:avg (use dictionary comprehension for this)
# - use a single dictionary (in the form k:(sum,count)); then, you calculcate the average at the end
# - use a single dictionary (in the form k:(avg,count)), where the weighted average is continuously updated
...
# Expected result: {'Alice': 22.6, 'Bob': 25.5, 'Chuck': 27.5, 'Dan': 25.166666666666668, 'Eve': 25.6, 'Frank': 23.5}

In [ ]:
# Extend the function 'averages' to also take in input an optional string parameter 'groupby' that can take two values: "student" or "course"
# - If 'groupby' is anything different, the function should return None
# - If 'groupby' is "student" (or no value is given), the function 'averages' should do as above
# - If 'groupby' is "course", the function 'averages' should calculate the average by course instead of by student
# Test all possibilities
...
# Expected result with no groupby argument: {'Alice': 22.6, 'Bob': 25.5, 'Chuck': 27.5, 'Dan': 25.166666666666668, 'Eve': 25.6, 'Frank': 23.5}
# Expected result with non-valid groupby argument: None
# Expected result with "student" as groupby argument: {'Alice': 22.6, 'Bob': 25.5, 'Chuck': 27.5, 'Dan': 25.166666666666668, 'Eve': 25.6, 'Frank': 23.5}
# Expected result with "course" as groupby argument: 
# {'Programming and computer architectures': 25.0, 'Database systems': 24.8, 'Fundamentals of accounting': 25.5, 'Fundamentals of management and organization': 25.8, 
# 'Fundamentals of finance and banking': 25.333333333333332, 'Operating systems, networks and web': 23.833333333333332}

In [ ]:
# Iterate over 'grades' with a for loop and return a list 'laudes' of the students (without repetitions) that received at least a laude
...
# Expected result: ['Eve', 'Bob', 'Chuck']

In [ ]:
# Iterate over 'grades' with a while loop and print only the first grade that you can find with a laude
...
# Expected result: (4, 'Eve', 'Fundamentals of accounting', 30, True)

In [ ]:
# Create a set with just the names of the courses listed in 'grades'
...
# Expected result: 
# {'Programming and computer architectures', 'Fundamentals of management and organization', 
# 'Operating systems, networks and web', 'Database systems', 'Fundamentals of finance and banking', 'Fundamentals of accounting'}

In [ ]:
# Create a set as above, but the names of the courses should be their acronyms (e.g., "Programming and computer architectures" becomes "PCA")
# Do not consider the words "of" and "and" if found
...
# Expected result: {'DS', 'FFB', 'FMO', 'OSNW', 'FA', 'PCA'}

In [ ]:
# Put the creation of the acronym in a function
# Then, use the function to replace the course names with their acronym in the 'grades' list
# Remember that lists are mutable: replace the elements of the list, not the whole list! 
...
# Expected result: 
# [(42, 'Alice', 'PCA', 18, False), (42, 'Alice', 'DS', 18, False), (1, 'Bob', 'FA', 23, False), (1, 'Bob', 'FMO', 30, False), (2, 'Chuck', 'FFB', 28, False), 
# (5, 'Dan', 'FA', 24, False), (5, 'Dan', 'OSNW', 23, False), (4, 'Eve', 'FMO', 24, False), (4, 'Eve', 'FA', 30, True), (99, 'Frank', 'FFB', 23, False), 
# (1, 'Bob', 'PCA', 30, True), (5, 'Dan', 'DS', 25, False), (99, 'Frank', 'FMO', 26, False), (99, 'Frank', 'PCA', 25, False), (99, 'Frank', 'DS', 27, False), 
# (2, 'Chuck', 'OSNW', 26, False), (4, 'Eve', 'OSNW', 30, True), (42, 'Alice', 'FFB', 29, False), (2, 'Chuck', 'FMO', 30, True), (99, 'Frank', 'OSNW', 22, False), 
# (2, 'Chuck', 'DS', 30, False), (5, 'Dan', 'FFB', 30, False), (2, 'Chuck', 'FA', 28, False), (1, 'Bob', 'OSNW', 24, False), (1, 'Bob', 'DS', 24, False), 
# (5, 'Dan', 'FMO', 19, False), (5, 'Dan', 'PCA', 30, False), (2, 'Chuck', 'PCA', 23, False), (99, 'Frank', 'FA', 18, False), (1, 'Bob', 'FFB', 22, False), 
# (4, 'Eve', 'PCA', 24, False), (4, 'Eve', 'FFB', 20, False), (42, 'Alice', 'FA', 30, False), (42, 'Alice', 'OSNW', 18, False)]

In [ ]:
# Return the median of the votes in 'grades' (i.e., the vote that appears the most)
# Use a dictionary to count how many times each vote appears
...
# Expected result: Maximum vote is 30 which appears 9 times